*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}
html {
  font-size: 62.5%;
}
body {
  box-sizing: border-box;
  background-color: red;
}
@font-face {
  font-family: 'Lobster';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/lobster/v23/neILzCirqoswsqX9_oU.ttf) format('truetype');
}
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  font-stretch: normal;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/opensans/v26/memSYaGs126MiZpBA-UvWbX2vVnXBbObj2OVZyOOSr4dVJWUgsjZ0C4n.ttf) format('truetype');
}
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 600;
  font-stretch: normal;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/opensans/v26/memSYaGs126MiZpBA-UvWbX2vVnXBbObj2OVZyOOSr4dVJWUgsgH1y4n.ttf) format('truetype');
}
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 700;
  font-stretch: normal;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/opensans/v26/memSYaGs126MiZpBA-UvWbX2vVnXBbObj2OVZyOOSr4dVJWUgsg-1y4n.ttf) format('truetype');
}
body {
  font-family: 'Open Sans', sans-serif;
}
.heading-primary {
  font-size: 4.2rem;
  font-weight: 600;
  color: #fff;
}
.heading-secondary {
  font-size: 2.6rem;
  font-weight: 600;
  color: #484c55;
}
.heading-tertiary {
  font-size: 2.6rem;
  font-weight: normal;
  color: #484c55;
}
.heading-quaternary {
  font-size: 1.6rem;
  font-weight: normal;
  color: #484c55;
  line-height: 1.6;
}
.paragraph {
  font-size: 1.4rem;
  color: #484c55;
  line-height: 1.8;
}
.anchor:link,
.anchor:visited {
  font-weight: 700;
  color: #44c0c2;
  text-decoration: none;
}
.u-margin-bottom-small {
  margin-bottom: 1rem !important;
}
.u-margin-bottom-medium {
  margin-bottom: 2rem !important;
}
.u-margin-bottom-large {
  margin-bottom: 3rem !important;
}
.u-clear-float {
  clear: both !important;
}
.u-pos-sticky {
  position: sticky !important;
  top: 2rem;
}
pre code.hljs {
  display: block;
  overflow-x: auto;
  padding: 1em;
}
code.hljs {
  padding: 0.3rem 0.5rem;
}
/*!
   Theme: Agate
   Author: (c) Taufik Nurrohman <hi@taufik-nurrohman.com>
   Maintainer: @taufik-nurrohman
   Updated: 2021-04-24

   #333
   #62c8f3
   #7bd694
   #888
   #a2fca2
   #ade5fc
   #b8d8a2
   #c6b4f0
   #d36363
   #fc9b9b
   #fcc28c
   #ffa
   #fff
*/
.hljs {
  background: #333;
  color: #fff;
}
.hljs-doctag,
.hljs-meta-keyword,
.hljs-name,
.hljs-strong {
  font-weight: 700;
}
.hljs-code,
.hljs-emphasis {
  font-style: italic;
}
.hljs-section,
.hljs-tag {
  color: #62c8f3;
}
.hljs-selector-class,
.hljs-selector-id,
.hljs-template-variable,
.hljs-variable {
  color: #ade5fc;
}
.hljs-meta-string,
.hljs-string {
  color: #a2fca2;
}
.hljs-attr,
.hljs-quote,
.hljs-selector-attr {
  color: #7bd694;
}
.hljs-tag .hljs-attr {
  color: inherit;
}
.hljs-attribute,
.hljs-title,
.hljs-type {
  color: #ffa;
}
.hljs-number,
.hljs-symbol {
  color: #d36363;
}
.hljs-bullet,
.hljs-template-tag {
  color: #b8d8a2;
}
.hljs-built_in,
.hljs-keyword,
.hljs-literal,
.hljs-selector-tag {
  color: #fcc28c;
}
.hljs-code,
.hljs-comment,
.hljs-formula {
  color: #888;
}
.hljs-link,
.hljs-regexp,
.hljs-selector-pseudo {
  color: #c6b4f0;
}
.hljs-meta {
  color: #fc9b9b;
}
.hljs-deletion {
  background: #fc9b9b;
  color: #333;
}
.hljs-addition {
  background: #a2fca2;
  color: #333;
}
.hljs-subst {
  color: #fff;
}
.hljs a {
  color: inherit;
}
.hljs a:focus,
.hljs a:hover {
  color: inherit;
  text-decoration: underline;
}
.hljs mark {
  background: #555;
  color: inherit;
}
.header {
  background-color: #fff;
  height: 10rem;
  padding: 0 2rem;
}
.header__content {
  height: 100%;
  width: 100%;
  max-width: 118rem;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}
.header__heading {
  padding: 2rem 0;
  font-family: 'Lobster', cursive;
  font-size: 4.3rem;
  color: #44c0c2;
}
.header__nav {
  height: 100%;
}
.header__nav ul {
  height: 100%;
  list-style: none;
  font-size: 1.5rem;
  display: flex;
}
.header__nav-item:not(:last-child) {
  margin-right: 1rem;
}
.header__nav-item a:link,
.header__nav-item a:visited {
  display: inline-block;
  height: 100%;
  line-height: 9.7rem;
  color: #484c55;
  text-decoration: none;
  padding: 0 2rem;
  border-bottom: 0.3rem solid transparent;
}
.header__nav-item a:hover {
  background-color: #f8f9fb;
  border-color: #49cbcd;
}
.header__nav-item--active a:link,
.header__nav-item--active a:visited {
  background-color: #f8f9fb;
  border-color: #49cbcd;
}
.footer {
  font-size: 1.4rem;
  color: #484c55;
  background-color: #fff;
  border-top: 2px solid #e9e9e9;
  text-align: center;
  padding: 2rem;
}
.heading-section {
  padding: 5.9rem 2rem;
  text-align: center;
  background-color: #44c0c2;
  background-image: url('../../media/img/BackgroundImage.png');
  background-size: cover;
  background-position: center;
}
.article-mark {
  width: 7rem;
  padding: 1.4rem 0 1.8rem;
  color: #fff;
  text-align: center;
  background-color: #44c0c2;
  border-radius: 3px;
}
.article-mark__number {
  font-size: 3rem;
  font-weight: bold;
}
.article-mark__text {
  font-size: 1.4rem;
}
hr {
  background-color: #e9e9e9;
  border: none;
  height: 1px;
}
.navigation ul {
  list-style: none;
  font-size: 1.5rem;
  color: #484c55;
}
.navigation__item:not(:last-child) {
  margin-bottom: 0.9rem;
}
.navigation__item a:link,
.navigation__item a:visited {
  display: inline-block;
  color: #484c55;
  text-decoration: none;
  border-radius: 4px;
  width: 100%;
  padding: 0.8rem 0;
  transition: all 0.1s, padding 0.3s;
}
.navigation__item a:hover {
  padding: 0.8rem 1.2rem;
  color: #fff;
  background-color: #485460;
}
.navigation__item--active a:link,
.navigation__item--active a:visited {
  padding: 0.8rem 1.2rem;
  color: #fff;
  border-radius: 4px;
  background-color: #485460;
}
.navigation__item-number {
  color: #44c0c2;
  font-weight: 700;
  padding-right: 1.5rem;
}
.code-box {
  font-size: 1.4rem;
  line-height: 1.2;
}
.code-box code {
  border-radius: 4px;
}
.welcome-section {
  background-color: #44c0c2;
  height: 60rem;
  background-image: url('../../media/img/BackgroundImage.png');
  background-size: cover;
  background-position: center 20%;
}
.article {
  padding: 10rem 2rem;
  background-color: #fff;
}
.article__content {
  width: 100%;
  max-width: 118rem;
  margin: 0 auto;
  display: flex;
}
.article__left-column {
  width: 10rem;
}
.article__middle-column {
  flex: 1;
  overflow-x: auto;
  overflow-y: hidden;
}
.article__right-column {
  padding-left: 7rem;
  width: 34rem;
}
.part1-introduction-slider {
  width: 27rem;
  height: 23.5rem;
  background-color: #44c0c2;
  border-radius: 3px;
  float: left;
  overflow: hidden;
  position: relative;
  margin-right: 2.8rem;
  margin-bottom: 2.8rem;
}
.part1-introduction-slider * {
  height: 100%;
}
.part1-introduction-slider img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}
.part1-introduction-slider__arrow {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 10;
  width: 4rem;
  height: 5rem;
  cursor: pointer;
}
.part1-introduction-slider__arrow::before,
.part1-introduction-slider__arrow::after {
  display: block;
  content: "";
  position: absolute;
  width: 70%;
  height: 0.4rem;
  background-color: #44c0c2;
  border-radius: 2px;
  transition: all 0.1s;
}
.part1-introduction-slider__arrow:active::before {
  transform: translateY(-50%) rotate(40deg);
}
.part1-introduction-slider__arrow:active::after {
  transform: translateY(-50%) rotate(-40deg);
}
.part1-introduction-slider__arrow--left {
  left: 0.3rem;
}
.part1-introduction-slider__arrow--left::before {
  top: 48%;
  left: 1rem;
  transform-origin: left;
  transform: translateY(-50%) rotate(45deg);
}
.part1-introduction-slider__arrow--left::after {
  top: 52%;
  left: 1rem;
  transform-origin: left;
  transform: translateY(-50%) rotate(-45deg);
}
.part1-introduction-slider__arrow--right {
  right: 0.3rem;
}
.part1-introduction-slider__arrow--right::before {
  top: 52%;
  right: 1rem;
  transform-origin: right;
  transform: translateY(-50%) rotate(45deg);
}
.part1-introduction-slider__arrow--right::after {
  top: 48%;
  right: 1rem;
  transform-origin: right;
  transform: translateY(-50%) rotate(-45deg);
}
.part2-arrow {
  width: 5rem;
  height: 5rem;
  background-color: #44c0c2;
  border-radius: 0.4rem;
  cursor: pointer;
  position: relative;
}
.part2-arrow::before,
.part2-arrow::after {
  content: "";
  width: 50%;
  height: 0.4rem;
  background-color: #fff;
  border-radius: 0.2rem;
  position: absolute;
  right: 1.2rem;
  transform-origin: right;
  transition: all 0.2s;
}
.part2-arrow::before {
  top: 50%;
  transform: translateY(-0.3rem) rotate(-45deg);
}
.part2-arrow::after {
  bottom: 50%;
  transform: translateY(0.3rem) rotate(45deg);
}
.part2-arrow:hover::before {
  transform: translateY(-0.3rem) rotate(-38deg);
}
.part2-arrow:hover::after {
  transform: translateY(0.3rem) rotate(38deg);
}
.part2-navigation li {
  display: inline-block;
  margin-right: 1rem;
}
.part2-navigation button {
  font-size: 0;
  width: 2rem;
  height: 2rem;
  border: none;
  border-radius: 50%;
  background-color: #e9e9e9;
  transition: all 0.2s;
  cursor: pointer;
}
.part2-navigation button:hover {
  background-color: #44c0c2;
}
.part5-asNavFor-example {
  width: 100%;
  max-width: 40rem;
  margin: 0 auto;
}
.part5-asNavFor-example__active-photo {
  width: 100%;
  height: 25rem;
  overflow: hidden;
  border-radius: 3px;
  margin-bottom: 1rem;
}
.part5-asNavFor-example__active-photo * {
  height: 100%;
}
.part5-asNavFor-example__active-photo img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}
.part5-asNavFor-example__bottom-part {
  display: flex;
  align-items: center;
}
.part5-asNavFor-example__nav-slider {
  height: 7rem;
  flex: 1;
  border-radius: 3px;
  overflow: hidden;
}
.part5-asNavFor-example__nav-slider .slick-track {
  width: 100%;
}
.part5-asNavFor-example__nav-slider * {
  height: 100%;
}
.part5-asNavFor-example__nav-slider img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}
.part5-asNavFor-example__arrow {
  flex: 0 0 2rem;
  height: 4rem;
  position: relative;
  border: 0;
  background-color: transparent;
  cursor: pointer;
}
.part5-asNavFor-example__arrow:focus {
  outline-color: #44c0c2;
}
.part5-asNavFor-example__arrow::before,
.part5-asNavFor-example__arrow::after {
  content: "";
  width: 100%;
  height: 0.4rem;
  background-color: #44c0c2;
  border-radius: 0.2rem;
  position: absolute;
  transition: transform 0.2s;
}
.part5-asNavFor-example__arrow--left {
  margin-right: 0.5rem;
}
.part5-asNavFor-example__arrow--left::before,
.part5-asNavFor-example__arrow--left::after {
  left: 0.3rem;
  transform-origin: left;
}
.part5-asNavFor-example__arrow--left::before {
  top: 50%;
  transform: rotate(-50deg);
}
.part5-asNavFor-example__arrow--left::after {
  bottom: 50%;
  transform: rotate(50deg);
}
.part5-asNavFor-example__arrow--left:active::before {
  transform: rotate(-45deg);
}
.part5-asNavFor-example__arrow--left:active::after {
  transform: rotate(45deg);
}
.part5-asNavFor-example__arrow--right {
  margin-left: 0.5rem;
}
.part5-asNavFor-example__arrow--right::before,
.part5-asNavFor-example__arrow--right::after {
  right: 0.3rem;
  transform-origin: right;
}
.part5-asNavFor-example__arrow--right::before {
  top: 50%;
  transform: rotate(50deg);
}
.part5-asNavFor-example__arrow--right::after {
  bottom: 50%;
  transform: rotate(-50deg);
}
.part5-asNavFor-example__arrow--right:active::before {
  transform: rotate(45deg);
}
.part5-asNavFor-example__arrow--right:active::after {
  transform: rotate(-45deg);
}
