.welcome-section {
    background-color: @colors[primary];
    height: 60rem;

    background-image: url('../../media/img/BackgroundImage.png');
    background-size: cover;
    background-position: center 20%;
}