.welcome-section {
    background-color: @colors[primary];

    background-image: linear-gradient(rgba(@colors[primary-3], .7), rgba(@colors[primary-3], .7)), url('../../media/img/BackgroundImage.jpg');
    background-size: cover;
    background-position: center 20%;
    background-position: center;

    padding: 14rem 0 17rem;

    &__content {
        width: 100%;
        max-width: @grid-width;
        margin: 0 auto;

        padding: 0 3rem;

        text-align: center;
    }

    &__heading {
        font-size: 6.3rem;
        font-weight: 600;

        color: @colors[white];

        margin-bottom: 1.5rem;
    }

    &__text {
        font-size: 2.3rem;

        color: @colors[white];

        width: 100%;
        max-width: 35rem;
        margin: 0 auto;

        margin-bottom: 4rem;
    }
}

.features-section {
    background-color: @colors[white];

    padding: 10rem 3rem;

    #respond-phone({
        padding-top: 5rem;
        padding-bottom: 6rem;
    });

    &__content {
        width: 100%;
        max-width: @grid-width;
        margin: 0 auto;

        > p {
            width: 100%;
            max-width: 90rem;
            margin: 0 auto;

            text-align: center;
        }
    }

    &__features {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        gap: 4rem;

        text-align: center;

        @media (max-width: #pxToEm(958)[]) {
            grid-template-columns: repeat(2, 1fr);
        }
        @media (max-width: #pxToEm(465)[]) {
            grid-template-columns: 1fr;
        }

        p {
            margin: 0 auto;
            max-width: 40rem;
        }
    }
}