.header {
    background-color: @colors[white];

    height: 10rem;

    padding: 0 2rem;

    &__content {
        height: 100%;
        width: 100%;
        max-width: @grid-width;
        margin: 0 auto;

        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &__heading {
        // padding: 2rem 0;

        font-family: 'Lobster', cursive;
        font-size: 4.3rem;

        color: @colors[primary];

        user-select: none;
    }

    &__nav {
        height: 100%;

        ul {
            height: 100%;
            list-style: none;
            font-size: 1.5rem;

            display: flex;
        }
    }

    &__nav-item {
        &:not(:last-child) {
            margin-right: 1rem;
        }

        a {
            &:link, &:visited {
                display: inline-block;

                height: 100%;
                line-height: 9.7rem; // center text vertically
                color: @colors[text];
                text-decoration: none;

                padding: 0 2rem;

                border-bottom: .3rem solid transparent;

                user-select: none;
            }

            &:hover {
                background-color: @colors[almost-white];
                border-color: @colors[primary-2];
            }
        }

        &--active a {
            &:link, &:visited {
                background-color: @colors[almost-white];
                border-color: @colors[primary-2];
            }
        }
    }

    &--fixed {
        position: fixed;
        top: 0;
        left: 0;
        z-index: 30;

        width: 100%;
        height: 7rem;

        border-bottom: 1px solid @colors[almost-white-2];
        box-shadow: 0 .5rem 2rem rgba(@colors[black], .1);
    }
    &--fixed &__nav-item a {
        &:link, &:visited {
            line-height: 6.7rem;
        }
    }
}

.header-container {
    height: 10rem;
    background-color: @colors[white];
}