.heading-section {
    // height: 17.5rem;

    padding: 5.9rem 2rem;
    text-align: center;

    background-color: @colors[primary];

    background-image: linear-gradient(rgba(@colors[primary-3], .7), rgba(@colors[primary-3], .7)), url('../../media/img/BackgroundImage.jpg');
    background-size: cover;
    background-position: center;
}