.article-mark {
    width: 7rem;

    padding: 1.4rem 0 1.8rem;

    color: @colors[white];
    text-align: center;
    background-color: @colors[primary];
    border-radius: 3px;

    &__number {
        font-size: 3rem;
        font-weight: bold;
    }

    &__text {
        font-size: 1.4rem;
    }

    &__icon {
        width: 5rem;
        height: 5rem;
        
        fill: @colors[white];

        padding-left: .3rem;
        padding-top: .5rem;
    }
}